<div class="d-flex flex-column justify-content-center align-items-center h-100">
  <img class="img-fluid" alt="beer illustration" src="./images/beer.png" />

  <a href="/beers" class="btn btn-lg btn-primary m-2">Check the Beers!</a>
  <a href="/random-beers" class="btn btn-lg btn-primary m-2">Check a Random Beer!</a>
</div>